.header{
 background-image: url(../img/logo.jpg);
 -ms-background-position-x: center;
 -ms-background-position-y: center;
 background-repeat:no-repeat;
 background-attachment:fixed;
 height:873px;
 }
.logo{
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=190, Color='#ffffff')";
}
.menu320-480{
	display:none;
}
.slider{
    filter:alpha(opacity=20);
    background-color: black;
	margin:100px auto 100px;
}
.about{
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#745083,endColorstr=#35273c);
}
.aboutbox__link{
filter: glow(color=#ffffff, Direction=135,strength=2); 	
}
.footer{
	height:120px;
	background-image: url(../img/img_foot.png);
    -ms-background-position-x: center;
    -ms-background-position-y: center;
    background-repeat:no-repeat;
}