@media screen and (min-width: 768px) and (max-width: 959px){ 
  .container,.aboutcontainer,.authorcontainer,.prefootercontainer,.footercontainer{
   width:100%;
   max-width:768px;
   margin:0 auto;
   }
.logo{
	padding-left:21px;
 }	
.menu{
  margin-left:1px;
  padding-top:140px;
}
.menu__item{
	padding-right:30px;
	padding-left:21px;
}
.slider{
	margin:13.8% auto 20.5%;
}
.slcontainer{
	box-sizing: border-box;
	margin:0 auto;
	max-width:768px;
    width:100%;
}
.right__slcontainer{
	position:absolute;
	top:-25px;
	left:456px;
}
.left__slcontainer{
	width:320px;
	position:absolute;
	top:109px;
	left:45px;
}
.slcontainer__title{
   	font: 47px "League Gothic Regular", Arial,sans-serif;
	line-height:26px;
}
.slcontainer__subtitle{
    font: 24px "League Gothic Regular", Arial,sans-serif;
   	line-height:39px;
}
.slcontainer__content{
	font-size: 16px;
    line-height:22px;
	letter-spacing:1.3px;
}
.arrow_left{
	position:absolute;
	top:74px;
	left:-43px;
}
.arrow_right{
	position:absolute;
	top:209px;
	left:295px;
}
.sliderbox{
    position:absolute;
	top:436px;
	left:545px;
}
.aboutbox__title{
	font: 24px "League Gothic Regular", Arial,sans-serif;
}
.aboutbox__content{
	line-height:20px;
}
.author__title {
    font: 27px "League Gothic Regular", Arial,sans-serif;
    margin-left: 60px;
    padding-top: 27px;
}
.author__content{
	padding-left:26px;
	padding-right: 8px;
	letter-spacing:-1.2px;
}
.photo{
	position:absolute;
	top:22px;
	left:-3px;
}	
.updates__title{
	padding-top:28px;
	padding-left:20px;
}
.updates__list1,.updates__list2,.updates__list3{
	background: url(../img/img_circle.png) 20px 2px no-repeat;
}
.updates__subtitle{
	padding-top:8px;
	padding-left:20px;
}
.updates__content{
	margin-left:87px;
	padding-top:8px;
}
.updates__read{
	margin-right:3px;
	padding-top:7px;
}
.updates--sliderbox{
    margin-left:21.5%;
}	
.logos_picture{
	max-width:768px;
	padding: 29px 0px;
}
.prefooter{
	height:397px;
}
.prefooter__box,.prefooter__box1 {
    margin-top: 13.1%;
	width:29%;
    margin-right: 5%;
}
.prefooter__logo{
	padding-left: 20px;
}
.prefooter__title{
	font: 24px "League Gothic Regular", Arial,sans-serif;
	letter-spacing: 0.6px;
}
.prefooter__subtitle{
	margin-top:5px;
}
.prefooter__content{
	line-height:17px;
}
footer{
	height:200px;
	box-sizing: border-box;
}
.menu--footer{
	margin-left:2px;
	padding-top:42px;
}
.menu__item--footer{
	padding-left:9px;
}
.footer__design{
	margin-top:63px;
	margin-right:5px;
}
}