@media screen and (min-width: 960px){
.menu320-480{
	display:none;
}	
}
@media screen and (min-width: 768px) and (max-width: 959px){ 
  .container,.aboutcontainer,.authorcontainer,.prefootercontainer,.footercontainer{
   width:100%;
   max-width:768px;
   margin:0 auto;
   }
.logo{
	padding-left:21px;
 }	
.menu{
  margin-left:1px;
  padding-top:140px;
}
.menu__item{
	padding-right:30px;
	padding-left:21px;
}
.menu320-480{
	display:none;
}
.slider{
	margin:13.8% auto 20.5%;
}
.slcontainer{
	box-sizing: border-box;
	margin:0 auto;
	max-width:768px;
    width:100%;
}
.right__slcontainer{
	position:absolute;
	top:-25px;
	left:456px;
}
.left__slcontainer{
	width:320px;
	position:absolute;
	top:109px;
	left:45px;
}
.slcontainer__title{
   	font: 47px "League Gothic Regular", Arial,sans-serif;
	line-height:26px;
}
.slcontainer__subtitle{
    font: 24px "League Gothic Regular", Arial,sans-serif;
   	line-height:39px;
}
.slcontainer__content{
	font-size: 16px;
    line-height:22px;
	letter-spacing:1.3px;
}
.arrow_left{
	position:absolute;
	top:74px;
	left:-43px;
}
.arrow_right{
	position:absolute;
	top:209px;
	left:295px;
}
.sliderbox{
    position:absolute;
	top:436px;
	left:545px;
}
.aboutbox__title{
	font: 24px "League Gothic Regular", Arial,sans-serif;
}
.aboutbox__content{
	line-height:20px;
}
.author__title {
    font: 27px "League Gothic Regular", Arial,sans-serif;
    margin-left: 60px;
    padding-top: 27px;
}
.author__content{
	padding-left:26px;
	padding-right: 8px;
	letter-spacing:-1.2px;
}
.photo{
	position:absolute;
	top:22px;
	left:-3px;
}	
.updates__title{
	padding-top:28px;
	padding-left:20px;
}
.updates__list1{
	background: url(../img/img_circle.png) 20px 2px no-repeat;
}
.updates__list2{
	background: url(../img/img_circle1.png) 20px 2px no-repeat;
}
.updates__list3{
    background: url(../img/img_circle2.png) 20px 2px no-repeat;
}
.updates__subtitle{
	padding-top:8px;
	padding-left:20px;
}
.updates__content{
	margin-left:87px;
	padding-top:8px;
}
.updates__read{
	margin-right:3px;
	padding-top:7px;
}
.updates--sliderbox{
    margin-left:21.5%;
}	
.logos_picture{
	max-width:768px;
	padding: 29px 0px;
}
.prefooter{
	height:397px;
}
.prefootercontainer,.footercontainer{
	min-width:768px;
}
.prefooter__box,.prefooter__box1 {
    margin-top: 11.1%;
	width:29%;
    margin-right: 4%;
}
.prefooter__logo{
	padding-left: 20px;
}
.prefooter__title{
	font: 24px "League Gothic Regular", Arial,sans-serif;
	letter-spacing: 0.6px;
}
.prefooter__subtitle{
	margin-top:5px;
}
.prefooter__content{
	line-height:19px;
}
footer{
	height:200px;
	box-sizing: border-box;
}
.menu--footer{
	margin-left:2px;
	padding-top:42px;
}
.menu__item--footer{
	padding-left:9px;
}
.footer__design{
	margin-top:63px;
	margin-right:5px;
}
}
@media screen and (min-width: 480px) and (max-width: 767px){ 
.container,.aboutcontainer,.authorcontainer,.prefootercontainer,.footercontainer{
    width:100%;
	margin:0 auto;
}
.logo{
	padding-left:162px; 
}
.menu320-480{
    z-index:10;
	position:absolute;
	top:138px;
	left:102px;
}
.menu{
    opacity:0;
}
.slider{
	height:250px;
	width:100%;
	margin:6.2% auto 20.9%;
}
.slcontainer{
	max-width:480px;
}
.right__slcontainer{
	width:40%;
	height:300px;
	position:absolute;
	top:-8px;
	left:266px;
	background:url(../img/phone480.png)no-repeat;
}
.phone{
	display:none;
}
.left__slcontainer{
	width:60%;
	position:absolute;
	top:90px;
	left:0px;
}
.slcontainer__title{
   	font: 38px "League Gothic Regular", Arial,sans-serif;
	margin-left: 9.4%;
}
.slcontainer__subtitle{
    font: 18px "League Gothic Regular", Arial,sans-serif;
   	line-height:12px;
    padding-top:0px;
	margin-left: 10%;
}
.slcontainer__content{
	display:none;
}
.arrow_left{
	position:absolute;
	top:17px;
	left:3px;
}
.arrow_right{
	position:absolute;
	top:113px;
	left:190px;
}
.sliderbox{
	position:absolute;
	top:72%;
	left:43%;
}
.aboutcontainer, .about{
	height:598px;
	width:100%;
	box-sizing:border-box;
}
.aboutcontainer{
	width:450px;
}
.aboutbox__key, .aboutbox__msg, .aboutbox__sheet{
    margin-top:8.4%;
	width:95%;
	float:none;
}
.aboutbox__title{
	font: 24px "League Gothic Regular", Arial,sans-serif;
	padding-left:10%;
}
.aboutbox__content{
	padding-top:7px;
    line-height:24px;
    padding-left:10%;	
	padding-right:2%;
}
.aboutbox__read{
	margin-right:0px;
	margin-top:20px;
}
.aboutbox__key{
    background: url(../img/sprite.png) -56px 4px no-repeat;	
}
.aboutbox__msg{
    background: url(../img/sprite.png) -24px -26px no-repeat;	
}
.aboutbox__sheet{
    background: url(../img/sprite.png) 7px -50px no-repeat;	
}
.aboutauthor{
	height:787px;
	width:100%;
}
.authorcontainer{
	padding-top:70px;
	height:787px;
	position:relative;
}
.author{
	margin-left:45px;
	height:272px;
	width:89%;
	float:none;
}
.updates{
	float:none;
	width:88%;
	height:440px;
}
.updates--sliderbox{
	width:21%;
	height:50px;
	position:absolute;
	top:342px;
	left:140px;
}
.updates__title{
	padding-top:80px;
	padding-left:73px;
}
.updates__list1,.updates__list2,.updates__list3{
	margin-top:17px;
	position:relative;
	overflow:hidden;
}
.updates__list1{
	background: url(../img/img_circle.png) 71px 2px no-repeat;
}
.updates__list2{
	background: url(../img/img_circle1.png) 71px 2px no-repeat;
}
.updates__list3{
    background: url(../img/img_circle2.png) 71px 2px no-repeat;
}
.updates__subtitle{
	margin-left:136px;
}
.updates__content{
	margin-left:136px;
	padding-top:10px;
}
.updates__read{
	margin-right:1px;
	padding-top:15px;
}
.logos{
	height:233px;
	width:100%;
	background:url(../img/logos480.png)center center no-repeat;
}
.logos_picture{
	display:none;
}
.prefooter{
	height:670px;
   	width:100%;
}
.prefooter__box,.prefooter__box1{
	margin-top:8.5%;
	width:87%;
	float:none;
    margin-right:5%;
	margin-left:5%;
}
footer{
	height:200px;
	width:100%;
}
.menu__item--footer{
	padding-right:5px;
	padding-left:20px;
	
}
footer .menu__link{
	font-size:20px;
}
.footer__design{
	float:none;
	margin-top:50px;
	text-align:center;
}
}
@media screen and (min-width: 320px) and (max-width: 479px) {
header{
	height:523px;
	width:100%;
}
.container,.aboutcontainer,.authorcontainer,.prefootercontainer,.footercontainer{
    width:100%;
}
.logo{
	padding-left:28%; 
}
.menu320-480{
    z-index:10;
	position:absolute;
	top:75%;
	left:11%;
}
.menu{
  opacity:0;
}
.slider{
	height:400px;
	width:100%;
	background-color:rgba(0,0,0,0);
	margin:7.2% auto 5.9%;
}
.slcontainer{
	width:100%;
}
.right__slcontainer{
	position:absolute;
	top:-21px;
	left:130px;
	height:288px;
	width:10px;
}
.phone{
	display:none;
}
.left__slcontainer{
	width:220px;
	position:absolute;
	top:17%;
	left:20%;
}
.slcontainer__title{
   	font: 36px "League Gothic Regular", Arial,sans-serif;
}
.slcontainer__subtitle{
    font: 18px "League Gothic Regular", Arial,sans-serif;
   	line-height: 17px;
    height: 16px;
    position: relative;
    overflow: hidden;
}
.slcontainer__content{
	display:none;
}
.arrow_left{
	position:absolute;
	top:20px;
	left:-61px;
}
.arrow_right{
	position:absolute;
	top:38%;
	left:152px;
}
.sliderbox{
	position:absolute;
	top:60%;
	left:36%;
}
.aboutcontainer{
	width:100%;
	box-sizing:border-box;
}
.about{
	height:598px;
	width:100%;
	box-sizing:border-box;
}
.aboutcontainer{
	width:95%;
}
.aboutbox__key, .aboutbox__msg, .aboutbox__sheet{
    margin-top:8.4%;
	width:95%;
	float:none;
}
.aboutbox__title{
	font: 24px "League Gothic Regular", Arial,sans-serif;
	padding-left:17%;
}
.aboutbox__content{
	padding-top:7px;
    line-height:20px;
    padding-left:17%;	
}
.aboutbox__read{
	margin-right: 0px;
    padding-top: 10px;
}
.aboutauthor{
	height:783px;
}
.authorcontainer{
	padding-top:100px;
	height:783px;
	position:relative;
}
.author{
	margin-left:24px;
	height:271px;
	width:89%;
	float:none;
}
.author__title{
	font: 24px "League Gothic Regular", Arial,sans-serif;
   	margin-left:30px;
	padding-top:10px;
}
.author__content{
	margin-left: 30px;
    padding-top: 5px;
    padding-right: 10px;
    line-height: 17px;
    letter-spacing: 0.1px;
    text-align: justify;
}
.updates{
	float:none;
	width:100%;
	height:273px;
}
.updates--sliderbox{
	width:33%;
	position:absolute;
	top:377px;
	left:57px;
}
.updates__title{
	padding-top:80px;
	padding-left:53px;
}
.updates__list1,.updates__list2,.updates__list3{
	margin-top:14px;
	position:relative;
	overflow:hidden;
}
.updates__list1{
	background: url(../img/img_circle.png) 0px 2px no-repeat;
}
.updates__list2{
	background: url(../img/img_circle1.png) 0px 2px no-repeat;
}
.updates__list3{
    background: url(../img/img_circle2.png) 0px 2px no-repeat;
}
.updates__subtitle{
	margin-left:70px;
	margin-top:5px;
	height:17px;
	width:71%;
	position:relative;
	overflow:hidden;
}
.updates__content{
	margin-left:70px;
	padding-top:5px;
}
.updates__read{
	margin-right:16px;
	padding-top:15px;
}
.logos{
	height:422px;
	width:100%;
	background:url(../img/logos320.png)center center no-repeat;
}
.logos_picture{
	display:none;
}
.prefooter{
	display:none;
}
footer {
	height:204px;
}
.menu--footer{
	display:none;
}
.footer__design{
	float:none;
	margin-top:37px;
	text-align:center;
}
}